# Masukan APP ID ambil di web my.telegram.org
API_KEY = "27901480"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "b5929af8c8da2eaaec5babf382e5d7b3"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOH0Bu1oIAXbZigHhl19r0_duxS228mnVmRVtHU6a6ReT6XePh4BZ2LwvbQwRzj6KB8rsbCQMjOkqt4Mb9Jfs-n89EFLtRno1mb2XYwFmuZmfQEhOYKrpzW241mnErRemDogaiGBJNGAatWScs9bcWiyHLPgmP9_daPZEY7r5AECuhXZFmPEtjgcl8_2X36jQTZrNstPOfqMFYijopm57ZzqBnPF75q8dCSInXMiU4fJPxWq6L5qc8bXJK_n_ny_cnWBUcd-FRmfebbJbGGSSVctVn0Vmd88nII6tzToF3ajePOZc3J0WYpnp5WaYStL-kjbL9Ary38XXtBkql9NLmmYrv6A="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "5639858361:AAEHE7FoYo0rSKVQP-cXzrXb_K_butCE7vw"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1001904599622 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://bwoiszvt:DdweLQ-_Z_A6XrfjylxVd0E27d3Tt0aQ@horton.db.elephantsql.com/bwoiszvt"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

